<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70b3e1">  <td>19/09/03 16:19:20</td>   <td>0</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.Cancellation@3b084709]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/09/03 16:19:20</td>   <td>113</td> <td>&nbsp;</td><td title="&gt;&gt;Cancellation.setData()[pri:0, instance:com.autoBot.testcases.Cancellation@4b4523f8]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/09/03 16:19:20</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.autoBot.testcases.Cancellation@4b4523f8]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/09/03 16:19:20</td>   <td>196</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.Cancellation@4b4523f8]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/09/03 16:19:21</td>   <td>1293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.Cancellation@4b4523f8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/09/03 16:19:33</td>   <td>13292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Cancellation.CancelAllUpcomingholidays(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.Cancellation@4b4523f8]">CancelAllUpcomingholidays</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/09/03 16:19:55</td>   <td>35086</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.autoBot.testcases.Cancellation@4b4523f8]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>19/09/03 16:19:55</td>   <td>35115</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@cd2dae5]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/09/03 16:19:55</td>   <td>35116</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@cd2dae5]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/09/03 16:19:55</td>   <td>35116</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@cd2dae5]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/09/03 16:19:55</td>   <td>35149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>19/09/03 16:20:05</td>   <td>45056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.SanityTesting(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@cd2dae5]">SanityTesting</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/09/03 16:21:23</td>   <td>123468</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@cd2dae5]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/09/03 16:21:23</td>   <td>123480</td> <td>&nbsp;</td><td title="&gt;&gt;Cancellation.setData()[pri:0, instance:com.autoBot.testcases.Cancellation@3b084709]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/09/03 16:21:23</td>   <td>123480</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.autoBot.testcases.Cancellation@3b084709]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/09/03 16:21:23</td>   <td>123481</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.Cancellation@3b084709]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/09/03 16:21:23</td>   <td>123506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.Cancellation@3b084709]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/09/03 16:21:32</td>   <td>132866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Cancellation.CancelAllUpcomingholidays(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.Cancellation@3b084709]">CancelAllUpcomingholidays</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/09/03 16:22:11</td>   <td>171164</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.autoBot.testcases.Cancellation@3b084709]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/09/03 16:22:11</td>   <td>171179</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.Cancellation@3b084709]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
</table>
