<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>19/09/03 15:41:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.SanityTesting(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@731a74c]">SanityTesting</td> 
  <td>main@1987083830</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/09/03 15:41:23</td>   <td>-10013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@731a74c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1987083830</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>19/09/03 15:41:22</td>   <td>-10407</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@731a74c]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1987083830</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/09/03 15:41:22</td>   <td>-10496</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@731a74c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1987083830</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>19/09/03 15:41:22</td>   <td>-10489</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@731a74c]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1987083830</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>19/09/03 15:41:20</td>   <td>-12724</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@731a74c]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1987083830</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>19/09/03 15:42:34</td>   <td>61257</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@731a74c]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1987083830</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>19/09/03 15:42:34</td>   <td>61177</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@731a74c]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1987083830</td>   <td></td> </tr>
</table>
